@charset "utf-8";

body {
    font-family: 'Open Sans', sans-serif;
    
}

.nopadding {
    margin: 0px!important;
    padding: 0px!important;
}

/* Menubar */

.menubar ul > li {
    margin-left: 5%;
}

.menubar a {
    color: #020202;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

/* Menu Hover */

.menubar a:hover {
    color: #71a4d5;
}

.menubar input[type="search"] {
    border-radius: 25px;
    font-size: 14px;
}

.navbar-toggler-icon {
    color: #000000;
}

.btn-form {
    background-color: transparent;
    border: none;
}

/* Slider */

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: transparent;
    border: 2px solid #ffffff;
}

/* Banner Text */

.d-md-block h2 {
    font-size: 57px;
    font-weight: 300;
    margin-bottom: 1%;
}

.d-md-block p {
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 10%;
}

/* Card CSS */

.card {
    border: 0px;

}

.stories {
    color: #020202;
    font-size: 41px;
    font-weight: 300;
    padding: 20px;
}

.info span {
    color: #666666;
    font-size: 13px;
    font-weight: 400;
}

.info p {
    color: #020202;
    font-size: 23px;
    font-weight: 700;
}

.card-body p {
    min-height: 130px;
    color: #32313c;
    font-size: 15px;
    font-weight: 400;
}

.card-body a {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

/* Card Hover */

.card-body a:hover {
    color: #71a4d5;
}

/* Box */

.box {
    transition: transform 1s;
    /*padding: 20px;*/
    border-radius: 10px;
}

/* Box hover effect s*/

.box:hover {
    transform: scale(1);
    box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
}

/* Footer */

.footer {
    background: #000 !important;
    color: #FFFFFF;
    margin-top: 25px;
}

.footer p {
    margin: 20px !important;
}

.footer .logo {
    float: right;
    display: inline;
    margin-bottom: 20px !important;
}

@media (max-width: 1024px) {
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        margin-right: 3px;
        margin-left: 3px;
    }

}